@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #f2f2f2 !important;
  margin: 0px !important;
  padding: 0px !important;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  margin: 0 5px;
  background-color: white;
}

button{
  padding: 10px 20px;
  background-color: #302d2d;
  border: 0px !important;
  color: white;
  cursor: pointer;
  margin: 5px !important;
}

button:hover{
  background-color: #453d2d;
}